.mole-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  justify-items: center;
  align-items: center;
  width: 100%;
  max-width: 900px; 
  margin: 0 auto;
}

/* .mole-container {
  width: 150px; 
  height: 150px; 
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
